name: Build

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2014_i686

    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@v1

      - run: |
          sudo dnf -y update
          sudo dnf -y install openssl-devel clang

      - name: install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-host i686-unknown-linux-gnu --profile minimal -y

      - name: build
        run: |
          source $HOME/.cargo/env
          cargo build --release --target i686-unknown-linux-gnu

      - run: strip target/i686-unknown-linux-gnu/release/libgmsv_tungstenite.so
      - run: |
          mkdir binaries
          mv target/i686-unknown-linux-gnu/release/libgmsv_tungstenite.so binaries/gmsv_tungstenite_linux.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_linux
          path: binaries/gmsv_tungstenite_linux.dll

  build_linux64:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2014_x86_64

    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@v1

      - run: |
          dnf update
          dnf -y install openssl-devel clang

      - name: install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-host x86_64-unknown-linux-gnu --profile minimal -y

      - name: build
        run: |
          source $HOME/.cargo/env
          cargo build --release --target x86_64-unknown-linux-gnu

      - run: strip target/x86_64-unknown-linux-gnu/release/libgmsv_tungstenite.so
      - run: |
          mkdir binaries
          mv target/x86_64-unknown-linux-gnu/release/libgmsv_tungstenite.so binaries/gmsv_tungstenite_linux64.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_linux
          path: binaries/gmsv_tungstenite_linux64.dll

  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - run: rustup target add x86_64-pc-windows-msvc && rustup target add i686-pc-windows-msvc

      - name: cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: build 64-bit
        run: cargo build --release --target x86_64-pc-windows-msvc
      - name: build 32-bit
        run: cargo build --release --target i686-pc-windows-msvc

      - run: |
          mkdir -p binaries
          mv target/i686-pc-windows-msvc/release/gmsv_tungstenite.dll binaries/gmsv_tungstenite_win32.dll
          mv target/x86_64-pc-windows-msvc/release/gmsv_tungstenite.dll binaries/gmsv_tungstenite_win64.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_win
          path: binaries/*.dll