name: Build

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  LIB_NAME: gmsv_tungstenite

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        arch: [x86_64, i686]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: install linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config curl git libssl-dev

          if [ "${{ matrix.arch }}" = "i686" ]; then
            sudo dpkg --add-architecture i386
            sudo apt-get update
            sudo apt-get install -y gcc-multilib g++-multilib

            rustup target add i686-unknown-linux-gnu
          else
            rustup target add x86_64-unknown-linux-gnu
          fi

      - name: install windows dependencies
        if: runner.os == 'Windows'
        shell: bash
        run: |
          choco install -y curl GITHUB_ENV
          
          if [[ "${{ matrix.arch }}" == "i686" ]]; then
            rustup target add i686-pc-windows-gnu
          else
            rustup target add x86_64-pc-windows-gnu
          fi

      - name: cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            if [[ "${{ matrix.arch }}" == "x86_64" ]]; then
              TARGET="x86_64-unknown-linux-gnu"
            else
              TARGET="i686-unknown-linux-gnu"
            fi
          else
            if [[ "${{ matrix.arch }}" == "x86_64" ]]; then
              TARGET="x86_64-pc-windows-gnu"
            else
              TARGET="i686-pc-windows-gnu"
            fi
          fi

          echo "target=$TARGET" >> $GITHUB_ENV

      - name: build (${{ matrix.arch }})
        run: cargo build --release --target ${{ env.target }}

      # suffix
      - run: |
          case "${{ env.target }}" in
            x86_64-unknown-linux-gnu) echo "suffix=linux64" >> $GITHUB_ENV ;;
            i686-unknown-linux-gnu) echo "suffix=linux" >> $GITHUB_ENV ;;
            x86_64-pc-windows-gnu) echo "suffix=win64" >> $GITHUB_ENV ;;
            i686-pc-windows-gnu) echo "suffix=win32" >> $GITHUB_ENV ;;
          esac

      # rename with suffix
      - run: |
          if [[ "${{ env.target }}" == *"windows"* ]]; then
            EXT=".dll";
          else
            EXT=".so";
          fi

          LIB_PATH="target/${{ env.target }}/release/${{ env.LIB_NAME }}${EXT}"
          NEW_LIB_PATH="target/${{ env.target }}/release/${{ env.LIB_NAME }}_${{ env.suffix }}${EXT}"

          mv $LIB_PATH $NEW_LIB_PATH

      - name: upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.LIB_NAME }}_${{ env.suffix }}
          path: target/${{ env.target }}/release/${{ env.LIB_NAME }}_${{ env.suffix }}${EXT}