name: Build

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@v6

      - run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get upgrade -y
          sudo apt-get install -y clang libclang-dev llvm-dev
          sudo apt-get install -y libssl-dev:i386 pkg-config:i386 gcc-multilib g++-multilib libc6-dev:i386 libstdc++6:i386

          export OPENSSL_LIB_DIR=/usr/lib/i386-linux-gnu
          export OPENSSL_INCLUDE_DIR=/usr/include
          export PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig
          export LIBCLANG_PATH=/usr/lib/llvm-18/lib

      - name: install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-host i686-unknown-linux-gnu --profile minimal -y

      - name: build
        run: |
          source $HOME/.cargo/env
          cargo build --release --target i686-unknown-linux-gnu

      - run: strip target/i686-unknown-linux-gnu/release/libgmsv_tungstenite.so
      - run: |
          mkdir binaries
          mv target/i686-unknown-linux-gnu/release/libgmsv_tungstenite.so binaries/gmsv_tungstenite_linux.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_linux
          path: binaries/gmsv_tungstenite_linux.dll

  build_linux64:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_34_x86_64

    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@v1

      - run: |
          dnf -y update
          dnf -y groupinstall "Development Tools"
          dnf -y install openssl-devel bzip2 bzip2-devel zlib-devel xz-devel wget curl
          dnf -y install clang clang-devel llvm llvm-devel

      - name: install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-host x86_64-unknown-linux-gnu --profile minimal -y

      - name: build
        run: |
          source $HOME/.cargo/env
          cargo build --release --target x86_64-unknown-linux-gnu

      - run: strip target/x86_64-unknown-linux-gnu/release/libgmsv_tungstenite.so
      - run: |
          mkdir binaries
          mv target/x86_64-unknown-linux-gnu/release/libgmsv_tungstenite.so binaries/gmsv_tungstenite_linux64.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_linux
          path: binaries/gmsv_tungstenite_linux64.dll

  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - run: rustup target add x86_64-pc-windows-msvc && rustup target add i686-pc-windows-msvc

      - name: cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: build 64-bit
        run: cargo build --release --target x86_64-pc-windows-msvc
      - name: build 32-bit
        run: cargo build --release --target i686-pc-windows-msvc

      - run: |
          mkdir -p binaries
          mv target/i686-pc-windows-msvc/release/gmsv_tungstenite.dll binaries/gmsv_tungstenite_win32.dll
          mv target/x86_64-pc-windows-msvc/release/gmsv_tungstenite.dll binaries/gmsv_tungstenite_win64.dll

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: gmsv_tungstenite_win
          path: binaries/*.dll